  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


  *,
  *::before,
  *::after { box-sizing: border-box; margin: 0; padding: 0; font-family: "Poppins", sans-serif; font-weight: 400; color: #151515;}
  html,
  body { height: 100%; scroll-behavior: smooth; font-size: 14px; background-color: #ffffff;}

  img,
  picture,
  video,
  canvas,
  svg { display: block; max-width: 100%; }
  input,
  button,
  textarea,
  select { font: inherit; background: none; border: none; outline: none; }
  button { cursor: pointer; }
  a { text-decoration: none; color: inherit; }
  ul,
  ol { list-style: none; padding:0; margin:0; }
  h1, h2, h3, h4, h5, h6 { font-weight: 600; color: #151515; }
  .dark-bg .heading-1, 
  .dark-bg .heading-2, 
  .dark-bg .heading-3, 
  .dark-bg .heading-4, 
  .dark-bg .heading-5, 
  .dark-bg .heading-6 { color: #ffffff !important; }
  section { padding: 100px 0;   }
  p{ font-size: 14px; color: #666; font-weight:400; line-height:20px; }
  .dark-bg  p{ color: #fff;}

  .heading-1{ font-weight: 700; font-size:50px; line-height: normal; }
  .heading-2{ font-weight: 700; font-size:40px; line-height: normal; }
  .heading-3{ font-weight: 700; font-size:32px; line-height: normal; }
  .heading-4{ font-weight: 700; font-size:25px; line-height: normal; }
  .heading-5{ font-weight: 700; font-size:20px; line-height: normal; }
  .heading-6{ font-weight: 700; font-size:16px; line-height: normal; }


  .btn{ padding: 15px 30px; font-weight: 500; font-size: 14px; border-radius: 15px; cursor: pointer; transition: all 0.3s ease; }
  .btn-outline {color: #151515; background-color: #fff; border: 1px solid #D8D8D8;}
  .btn-outline:hover,
  .btn-solid { color: #fff; background-color: #0b5ed7; }
  .btn-solid:hover { color: #fff; background-color: #094ec1;}


  .wrapper{ position: relative; z-index:3; }

  /* Optional Container */
  .container { max-width: 1200px; margin: 0 auto; padding: 0 20px; } 

  header{  display: flex; justify-content: center;position: sticky; margin-top: 50px;  top:20px; z-index:5; }
  header .nav-container { display: flex; justify-content: center;position: sticky; top:20px; z-index:5; }
  header .nav-container .nav-tabs { display: flex; background: #fff; border-radius: 10px; padding:0px 20px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); list-style: none; margin: 0; background: #ffffff95; border:none;backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */}
  header .nav-container .nav-tabs .nav-item { padding: 10px 15px; cursor: pointer; font-weight: 400; color: #333; position: relative; font-size:14px; }
  header .nav-container .nav-tabs .nav-item::after { content: ""; display: block; height: 2px; width: 0; background: #007bff;  position: absolute; bottom: 0; left: 0; transition: width 0.3s ease;}
  header .nav-container .nav-tabs .nav-item:hover::after,
  header .nav-container .nav-tabs .nav-item.active::after { width: 100%; }

  .menu-toggle { display: none; font-size: 24px; background: none; border: none; cursor: pointer; border-radius: 100px; height:48px; width:48px; border:solid 1px #eee; position: absolute; right:0; }
  .heading-1{ font-weight: 700; font-size:50px;  color: #151515; }
  .hero-content-sec .subheading{ color:#666666; font-weight:400; line-height:26px; font-size:16px; max-width:650px; width:100%; }
  .hero-content-sec .button-sec{ margin-top:30px; }
  .hero-content-sec .user-stats { animation: fadeInUp 1s ease-in-out; margin-top:30px; }
  .hero-content-sec .avatars { display: flex; align-items: center; justify-content: end; }
  .hero-content-sec .avatars img { width: 50px; height: 50px; border-radius: 50%; object-fit: cover;   transition: transform 0.hero-content-sec .3s ease; z-index:0; }
  .hero-content-sec .avatars img:first-child { margin-left: 0;} 
  .hero-content-sec .user-count h3 { font-size: 20px; font-weight: 700; margin: 0; color: #000; text-align: left;}
  .hero-content-sec .user-count p { margin: 0; font-size: 14px; color: #666;text-align: left;}

  /* Animation */
  @keyframes fadeInUp { from {opacity: 0;
  transform: translateY(20px);
  }
  to {
  opacity: 1;
  transform: translateY(0);
  }
  }


  .thumb-imgs-sec { display: flex; justify-content: center; margin-top:80px; }
  .thumb-imgs-sec img { width: calc(100% / 6); margin: 0 -15%; animation: floatUpDown 3s ease-in-out infinite; transition: transform  .3s ease-in-out;}
  .thumb-imgs-sec img:nth-child(1) { animation-delay: 0s;}
  .thumb-imgs-sec img:nth-child(2) { animation-delay: 0.3s;}
  .thumb-imgs-sec img:nth-child(3) { animation-delay: 0.6s;}
  .thumb-imgs-sec img:nth-child(4) { animation-delay: 0.9s;}
  .thumb-imgs-sec img:nth-child(5) { animation-delay: 1.2s;}
  .thumb-imgs-sec img:nth-child(6) { animation-delay: 1.5s;}



  @keyframes floatUpDown { 0%, 100% {
  transform: translateY(0px);
  }
  50% {
  transform: translateY(-8px);
  }
  }



  .features{ display: flex; align-items:center; justify-content: end; background: url('../src/images/features-bg.png') no-repeat; padding:100px 0;}
  .safety-points li{ position: relative; padding-left:32px; margin:18px 0; font-size:14px; color:#151515; }
  .safety-points li::before{ content:''; height:40px; width:40px; display:block; position: absolute; left:0; background: url('../src/images/green-tick.png') no-repeat; background-size:100%; }


  .success-stories { position: relative; padding-bottom:480px; }
  .success-stories::after{content:''; display: block; max-width:1480px; margin:0 auto; bottom:100px; position: absolute;
  background: url('../src/images/testimonials-bubbles.png'); background-repeat: no-repeat; background-size: contain; left:0; right:0; height:560px;
  }
  .success-stories .heading-2{ max-width:500px; margin: 0px auto; margin-bottom:30px; text-align: center; }
  .success-stories .slider-sec{max-width:575px; margin:40px auto 0; }
  .success-stories .slider-sec .swiper-wrapper{ padding-bottom: 30px !important;}
  .success-stories .slider-sec .swiper-slide{ position: relative; text-align: center; padding: 40px 40px 40px 40px; }
  .success-stories .slider-sec .swiper-slide:after{ content:''; width:100%; height:100%; display: block; top:0; left:0; position:absolute; border:solid 1px #666666; border-radius:100px; z-index:1; }
  .success-stories .slider-sec .review {color: #666666; font-size:16px;font-style: italic; }
  .success-stories .slider-sec .writer{ width: fit-content; display:inline-block; text-align:center; position: absolute; bottom: -20px; margin:0px auto;  left: 0; right: 0; font-size:16px; color:#151515; background-color:#fff; padding:10px 15px; border-radius: 20px; display:inline-block; z-index:9; }


  .gettheapp{ background: url('../src/images/get-app-bg.png') no-repeat; background-size:cover; padding:60px 50px 60px 50px; border-radius:40px; display:flex; flex-wrap: wrap; justify-content: space-between; align-items: center; gap:20px }
  .gettheapp .heading-3,
  .gettheapp .heading-5{ font-weight:500; color:#fff; }
  .gettheapp .heading-5{ font-weight:300;}
  .gettheapp .btn-gettheapp{ background-color: #fff; color: #151515; font-size:20px; padding:15px 40px; font-weight:600; }


  footer{ background-color: #F9F9F9;  padding:60px 0; margin-top:80px }
  footer .heading-6 { font-weight:600;}
  footer .footer-logo{display: flex; justify-content: flex-start;}
  footer .footer-menu .menu-item{ padding:10px 0; font-size:12px; }

  footer .copyright,
  footer .social-links a{ font-size:12px; margin:0px; padding:0; }
  footer .social-links a{padding:10px 0; }

  @media (max-width: 1200px) {
  section{ padding:50px 0;}
  .success-stories{ padding-bottom: 410px; }
  .success-stories::after{ height: 450px; bottom:50px; }

  .safety-points li::before{ width:20px; }
  .heading-2{ line-height:50px}
  }


  @media (max-width: 1024px) {
  .success-stories{ padding-bottom: 350px; }
  .success-stories::after{ height: 400px; }
  }

  @media (max-width: 992px) {
  .menu-toggle { display: block; }
  header .nav-container .nav-tabs {display: none; position: absolute; top: 60px; right: 0; flex-direction: column; background: #ffffff90; backdrop-filter: blur(20px); border: 1px solid #ccc; padding: 1rem; display: none; z-index: 1000; width:300px; }
  header .nav-container .menu-toggle { display: block; }
  header .nav-container .nav-tabs .nav-item{ font-size: 14px; font-weight:500; padding:10px 5px; }
  header .nav-container .nav-tabs.open { display: flex; }
  header .nav-container{ position: fixed; right: 20px;}
  
  .heading-1{ font-size:40px; line-height: 45px; }
  .heading-2{ font-size:30px; line-height: 35px; }
  .heading-3{ font-size:25px; line-height: 30px; }
  .success-stories .heading-2{ margin-bottom:20px;}
  .success-stories .slider-sec{ margin-top:20px;}
  .success-stories .slider-sec .swiper-slide{ padding: 30px; }
  .success-stories{ padding-bottom: 330px; }
  .success-stories::after{ height: 340px; }
  }

  @media (max-width: 576px) {
  .btn{ padding:12px 25px; font-size:14px; border-radius:10px; }
  .success-stories .slider-sec .swiper-slide { padding:20px;}
  .thumb-imgs-sec { overflow: hidden; margin-top:50px; }
  .thumb-imgs-sec img { margin:0 -2%; min-width:120px;}
  .heading-1{ font-size:30px; line-height: normal; line-height:40px; }
  .hero-content-sec .subheading{ font-size:14px; line-height:20px; }
  .heading-2{ font-size:25px; line-height: normal; }
  .heading-3{ font-size:20px; line-height: normal; }
  .success-stories .success-stories-bg{ max-width:100%; top:-20px; }
  .success-stories .slider-sec .swiper-slide{ position: relative; text-align: center; padding: 25px 40px; }
  .gettheapp{ border-radius: 20px; padding:30px; justify-content:center; text-align: center; }
  .gettheapp .content-sec .heading-3{ font-size:18px; }
  .gettheapp .content-sec .heading-5{ font-size:14px;}
  .success-stories .slider-sec .review ,
  .success-stories .slider-sec .writer { font-size:14px; }
  footer .social-links a{padding:5px 0; }

  .gettheapp .btn-gettheapp{ font-size:16px; padding:10px 20px; }

  .success-stories{ padding-bottom: 200px; }
  .success-stories::after{ height: 180px; }

  .success-stories .slider-sec .swiper-slide:after{ border-radius:20px;}
  }

 